/*```<!--section:docs-->

`data-jump-to="top"` fixes element to the corner and adds extra top padding to make it easy to click:
```css */
[href="#top"] {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 50vh;
}
