/*```<!--section:docs-->

`<a href="#top">` is automatically fixed to the bottom-right corner with extra top padding for easier clicking:
```css */
[href="#top"] {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 50vh;
}
