{#<!--section:code-->```jinja2 #}
<!doctype html>
<html lang="{{ site.lang | d('en') }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <title>
      {{- title | string | striptags ~ ' | ' if title -}}
      {{- site.title -}}
    </title>
    <meta name="description" content="{{ description | striptags }}" />

    <link rel="icon" href="{{ site.favicon | d('/favicon.ico') }}" />
    {%- for href in site.styles %}
      <link rel="stylesheet" href="{{ href }}" />
    {%- endfor %}
    {%- for src in site.scripts %}
      <script src="{{ src }}" defer></script>
    {%- endfor %}

    {{ (site.head_extras | d([]) | join('\n') ~ content_for_header) | safe }}
  </head>

  <body>
    {% block body %}
    {% endblock %}

    {{ (site.body_extras | d([]) | join('\n')) | safe }}
  </body>
</html>
{#```
- `title | string` to avoid error with `| striptags` when you pass a pure number.

<!--section:docs-->

Usage in Nunjucks layout:

```jinja2
{% extends 'blades/html.njk' %}

{% block body %}...{% endblock %}
```

Live examples:
- https://github.com/anyblades/buildawesome-starters/blob/main/_includes/default.njk
- https://github.com/anyblades/subtle/blob/main/.11ty/_includes/default.njk

#}
