<ul>
  {%- for link in links %}
    <li>
      {% # prettier-ignore %}
      <a href="{{ link.url }}" {% if link.url == current_url %}aria-current="page"{% endif %}>
        {{- link.title -}}
      </a>
    </li>
  {%- endfor %}
</ul>

{%- comment %}
  Compatible with:
  - https://picocss.com/docs/nav
  - https://www.11ty.dev/docs/plugins/navigation/#bring-your-own-html-render-the-menu-items-manually
{%- endcomment %}
