/*** Extends https://github.com/picocss/pico/blob/main/scss/layout/_document.scss ***/

html {
  /* Prevent horizontal overflow and scrolling, modern way */
  overflow-x: clip;

  /* Enable font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*** Extends https://github.com/picocss/pico/blob/main/scss/layout/_landmarks.scss ***/

body {
  /* Ensure `body` takes at least the full height of the viewport (using dynamic viewport height for better mobile support) */
  min-height: 100dvh;

  /* Make the `body` a flex container with column layout, and `main` to automatically fill available space. This is useful for creating sticky footers and full-height layouts. */
  display: flex;
  flex-direction: column;
  > main {
    flex-grow: 1;
  }

  /* Enable global hyphenation */
  hyphens: auto;
  /* ... except for links and tables which are better (safer) without hyphenation */
  a,
  table {
    hyphens: none;
  }
}
