/* <!--section:docs-->
### Wider columns

Simply insert `<hr>` to forcibly widen too narrow columns (especially useful in markdown):

```html
<table>
  <tr>
    <th>Title <hr> </th>
    <th>Description</th>
  </tr>
  ...
</table>
```

How it works:

```css */
table {
  th {
    hr {
      width: 12ch; /* min ~65/12 = ~5 cols */
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }
}
/*```

### Borderless table

`.borderless` removes all default borders:

| Less | Borders |
| ---- | ------- |
| More | Fun     |

{.borderless}

```html
<table class="borderless">...</table>
```

Living example: https://bladeswitch.com/#minimal-dependencies table

<!--section--> */
table.borderless {
  th,
  td {
    border: none;
  }
}
