/*** Extends https://github.com/picocss/pico/blob/main/scss/content/_typography.scss ***/

pre {
  padding: 1rem 1.5rem;
  padding-inline-end: 2rem;

  code {
    padding: 0;
  }

  @media screen and (max-width: 767px) {
    border-radius: 0;
  }
}
