h1 {
  font-size: 2.5em; /* for Pico.css & Tailwind Typography */
  margin-bottom: 1rem; /* for Tailwind Typography */
}

hr {
  margin-block: 2rem;
}

pre {
  small {
    opacity: 50%;
    font-weight: lighter;
  }
}

table {
  th {
    font-weight: bold;
  }
  pre {
    margin-bottom: 0.25rem;
  }
}
